PORT=3000
GEMINI_API_KEY=
DATABASE_URL=
NEXT_PUBLIC_COMPANY_ID=
DASHBOARD_COMPANY_ID=
DEFAULT_ONBOARDING_WHATSAPP=
SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=
NEXT_PUBLIC_APP_URL=
APP_BASE_URL=
PAYSTACK_SECRET_KEY=
PAYSTACK_PLAN_SILVER_CODE=
PAYSTACK_PLAN_GOLD_CODE=
PAYSTACK_PLAN_PLATINUM_CODE=
DEVELOPER_EMAIL=
DEVELOPER_PASSWORD=
DEVELOPER_NAME=
